# Зависимости, которые будут установлены внутри контейнера
node_modules

# Результаты сборки, которые будут созданы внутри контейнера
dist

# Логи и временные файлы
*.log
npm-debug.log*

# Системные файлы
.DS_Store

# Конфиги IDE и git
.idea
.vscode
.git
.gitignore
.dockerignore
README.md